@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
/*ENCABEZADO*/
header {
  background-color: #013A63;
  height: 152px !important;
  position: fixed;
  z-index: 1;
  top: 0px;
  padding-bottom: 0px; }
  header p {
    color: #FB8500;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-around; }

.titulo__h1 {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly; }

/* MENU */
.menuBts {
  background-color: #013A63 !important;
  border-bottom: 100px; }

.item {
  color: white !important; }

.color {
  color: #89C2D9 !important; }

.fondo:hover {
  background-color: #2c2c2c;
  color: white !important;
  transition: 1s;
  border-radius: 5px;
  border: 0; }

.desplegable:hover > .dropdown-menu {
  display: block !important; }

.submenu {
  background-color: #013A63; }

.submenu__item {
  color: #89C2D9; }

.submenu__item:hover {
  transition: 1s;
  background-color: #2c2c2c !important;
  color: white;
  border-radius: 5px; }

.container {
  padding-left: 18px; }

.menu {
  display: grid;
  grid-area: menu; }

/*FOOTER*/
footer {
  background-color: #013A63;
  margin-bottom: 0px;
  padding: 7px; }

.contactoFooter {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px; }

.contenedorRedes {
  text-align: center;
  text-decoration: none; }

.instagram {
  color: #89C2D9;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px; }

.whatsapp {
  color: #89C2D9;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px; }

.facebook {
  color: #89C2D9;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px; }

.gmail {
  color: #89C2D9;
  text-decoration: none;
  padding-left: 16px;
  padding-right: 16px; }

.instagram:hover {
  text-decoration: none;
  color: white; }

.whatsapp:hover {
  text-decoration: none;
  color: white; }

.facebook:hover {
  text-decoration: none;
  color: white; }

.gmail:hover {
  text-decoration: none;
  color: white; }

.derechosR {
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif; }

/*APARTADO INFO*/
.h2Info {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; }

.informacion__titulo {
  color: #013A63;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 30px;
  text-align: center; }

.envios__titulo {
  color: #013A63;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 30px;
  text-align: center; }

.contacto__titulo {
  color: #013A63;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 30px;
  text-align: center; }

.padreInfo {
  height: 1000px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch; }

.informacion__parrafo {
  margin: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 30px; }

.envios__parrafo {
  margin: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 30px; }

.contacto__parrafo {
  margin: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 30px; }

.sectionInfo {
  height: 1100px; }

.instagram2 {
  color: #2c2c2c;
  align-items: center; }

.instagram2:hover {
  color: #468FAF; }

.facebook2 {
  color: #2c2c2c;
  align-items: center; }

.facebook2:hover {
  color: #468FAF; }

.whatsapp2 {
  color: #2c2c2c;
  align-items: center; }

.whatsapp2:hover {
  color: #468FAF; }

.gmail2 {
  color: #2c2c2c; }

.gmail2:hover {
  color: #468FAF; }

.contacto__parrafo {
  padding-left: 350px; }

/*TABLA DE TALLES*/
section {
  background-color: white; }

.tablaTalles {
  background-color: #8ecae6;
  font-family: 'Marvel', sans-serif;
  border-radius: 10px;
  font-size: 26px;
  width: 700px;
  height: 300px;
  border: 1px;
  margin: 0 auto;
  text-align: center; }

.tituloTabla {
  margin: 0;
  text-align: center;
  color: #013A63;
  font-family: 'Marvel', sans-serif;
  font-size: 26px; }

.encabezado {
  background-color: #faedcd;
  color: #219EBC;
  border: 1px; }

.registrate {
  color: #013A63;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  display: flex;
  justify-content: center; }

.mensaje__escribir {
  width: 250px;
  height: 100px;
  transition: 2s;
  border-radius: 10px;
  outline: none;
  border: 0px;
  padding-left: 7px;
  background-color: lightgray; }

.mensaje__escribir:hover {
  width: 325px; }

.ingresa__nombre {
  width: 250px;
  transition: width 2s;
  border-radius: 10px;
  outline: none;
  border: 0px;
  padding-left: 7px;
  background-color: lightgray; }

.ingresa__nombre:hover {
  width: 300px; }

.ingresa__apellido {
  width: 250px;
  transition: width 2s;
  border-radius: 10px;
  outline: none;
  border: 0px;
  padding-left: 7px;
  background-color: lightgray; }

.ingresa__apellido:hover {
  width: 300px; }

.ingresa__correo {
  width: 250px;
  transition: width 2s;
  border-radius: 10px;
  outline: none;
  border: 0px;
  padding-left: 7px;
  background-color: lightgray; }

.ingresa__correo:hover {
  width: 300px; }

.botonEnviar {
  padding-left: 7px;
  height: 28px;
  background: #c0be44;
  color: #252525;
  border-color: #c0be44; }

.botonEnviar:hover {
  background: #027933;
  border-color: #027933; }

.botonBorrar {
  padding-left: 7px;
  height: 28px;
  background: #00649e;
  color: white;
  border-color: #00649e; }

.botonBorrar:hover {
  background: #ce6f02;
  color: white;
  border-color: #ce6f02; }

.dropDown {
  border: 0px;
  border-radius: 10px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #6c757d;
  background-color: lightgray; }

.dropDown:hover {
  transform: scale(1.05); }

.nombre {
  color: lightgray; }

.apellido {
  color: lightgray; }

.correo {
  color: lightgray; }

.mensaje {
  color: lightgray; }

.sectionForm {
  height: 700px; }

form {
  width: 400px;
  margin: 0 auto;
  background-color: #012A4A !important;
  border-radius: 15px;
  border: 70px;
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif; }
  form p {
    font-family: Arial, Helvetica, sans-serif;
    color: #adb5bd; }

@media screen and (min-width: 768px) {
  .nav {
    display: grid;
    grid-template-areas: " logoMJA menu";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: initial; }
  form {
    width: 400px;
    margin: 0 auto;
    background-color: #e9c46a;
    border-radius: 15px; }
  .section {
    background-color: #A9D6E5;
    height: 3300px; }
  .contacto__parrafo {
    padding-left: 50px; }
  header {
    height: 152px;
    position: sticky;
    top: 0px;
    padding-left: 15px; }
    header p {
      color: #FB8500;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      display: flex;
      justify-content: space-around;
      padding-left: 35px; } }

@media screen and (max-width: 320px) {
  .nav {
    display: grid;
    grid-template-areas: " logoMJA menu";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: initial; }
  form {
    width: 300px;
    margin: 0 auto;
    background-color: #e9c46a;
    border-radius: 15px; }
  .section {
    background-color: #A9D6E5;
    height: 3500px; }
  .contacto__parrafo {
    padding-left: 50px; }
  header {
    height: 152px;
    position: sticky;
    z-index: 1;
    top: 0; }
  footer {
    background-color: #013A63;
    margin-bottom: 0px;
    padding: 7px;
    margin-top: 500px; } }

@media screen and (max-width: 425px) {
  .nav {
    display: grid;
    grid-template-areas: " logoMJA menu";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: initial; }
  form {
    width: 300px;
    margin: 0 auto;
    background-color: #e9c46a;
    border-radius: 15px; }
  .padreInfo {
    padding-top: 300px;
    height: 1000px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: stretch; }
  .sectionInfo {
    height: 1400px; }
  .contacto__parrafo {
    padding-left: 50px;
    margin: 50px; }
  .section {
    background-color: #A9D6E5; }
  header {
    height: 152px;
    position: sticky;
    z-index: 1;
    top: 0; }
    header p {
      color: #FB8500;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      display: flex;
      justify-content: space-around;
      padding-left: 35px; }
  footer {
    background-color: #013A63;
    margin-bottom: 0px;
    padding: 7px;
    margin-top: 86px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

/*SECCIÓN PRINCIPAL*/
section {
  background-color: whitesmoke;
  padding-top: 60px; }

h2 {
  color: #013A63;
  font-family: 'Open Sans', sans-serif;
  font-size: 33px;
  padding: 30px;
  text-align: center; }

/*SECCION PRINCIPAL DE TODAS LAS PAGINAS*/
.colorFondo {
  background-color: whitesmoke;
  height: 100px; }

.cards {
  border: 0;
  z-index: 2; }

.card {
  background-color: whitesmoke;
  border: none; }

.imagenes {
  height: 570px;
  border-radius: 15px; }

.camisetaReal {
  height: 400px;
  border-radius: 18px; }

.camisetaNiupi {
  height: 300px;
  border-radius: 22px; }

.camisetaLaVilla {
  height: 200px;
  border-radius: 24px; }

.camisetaHuracan {
  height: 125px;
  border-radius: 26px; }

h3 {
  color: #013A63;
  font-size: 1.25rem; }

.pagos {
  display: flex;
  justify-content: space-evenly;
  text-align: center; }

.mediosDePago {
  border-radius: 25px;
  height: 225px;
  padding: 0px; }

.pagar {
  text-align: center;
  font-size: 25px; }
