/*FOOTER*/

footer{
    background-color: #89C2D9;
    margin-bottom:0px;
    padding:7px;
} 

.contactoFooter{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}
.contenedorRedes{
    text-align: center;
    text-decoration: none;
}
.instagram{
    color:#012A4A;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}
.whatsapp{
    color: #012A4A;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}
.facebook{
    color: #012A4A;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}
.gmail{
    color: #012A4A;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}
.instagram:hover{
    text-decoration: none;
    color: rgb(44, 44,44);

}
.whatsapp:hover{
    text-decoration: none;
    color: rgb(44, 44,44);
}
.facebook:hover{
    text-decoration: none;
    color: rgb(44, 44,44);
}
.gmail:hover{
    text-decoration: none;
    color: rgb(44, 44,44);
}
.derechosR{
    text-align: center;
    padding-top: 20px;
}

