/*FOOTER*/

footer{
    background-color: #013A63;
    margin-bottom:0px;
    padding:7px;
} 

.contactoFooter{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
}
.contenedorRedes{
    text-align: center;
    text-decoration: none;
}
.instagram{
    color: #89C2D9;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    &:hover{
        text-decoration: none;
        color: white;
    }
}
.whatsapp{
    color:#89C2D9 ;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    &:hover{
        text-decoration: none;
        color: white;
    }
}
.facebook{
    color:#89C2D9 ;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    &:hover{
        text-decoration: none;
        color: white;
    }
}
.gmail{
    color: #89C2D9;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    &:hover{
        text-decoration: none;
        color: white;
    }
}

.derechosR{
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif ;
}

