/*ENCABEZADO*/

header{
    background-color: #013A63;
    // background-color:#013A63; 
    height:152px !important;
    position: fixed;
    z-index: 1;
    top: 0px;
    padding-bottom: 0px;
        p{
            color:#FB8500;
            font-family:'Open Sans', sans-serif ;
            display: flex;
            justify-content: space-around;
        }
}


.titulo__h1{
    color: white !important;
    font-family:Arial, Helvetica, sans-serif ;
    display: flex;
    justify-content: space-evenly;
}

/* MENU */
// nav{
//     padding: 20px;
//     padding-right: 800px;
//     top: 0;
// }
.menuBts{
    background-color: #013A63 !important;
    border-bottom: 100px;
}
.item{
    color: white !important;
}
.color{
    color: #89C2D9 !important;
}
.fondo:hover{
    background-color: rgb(44, 44,44);
    color: white !important;
    transition: 1s;
    border-radius: 5px;
    border: 0;
}
.desplegable:hover>.dropdown-menu{
    display: block !important;
}
.submenu{
    background-color: #013A63;
}
.submenu__item{
    color: #89C2D9;
}
.submenu__item:hover{
    transition: 1s;
    background-color: rgb(44, 44,44) !important;
    color: white;
    border-radius: 5px;
}
.container{
    padding-left: 18px;
}



.menu{
    display:grid;
    grid-area:menu;
}


