/*TABLA DE TALLES*/


section{
    background-color: white;
}
.tablaTalles{
    background-color:#8ecae6;
    font-family: 'Marvel', sans-serif;
    border-radius: 10px;
    font-size: 26px;
    width: 700px;
    height: 300px;
    border: 1px;
    margin: 0 auto;
    text-align: center;
}


.tituloTabla{
    margin:0;
    text-align: center;
    color:#013A63;
    font-family: 'Marvel', sans-serif;
    font-size:26px;
}

.encabezado{
    background-color:#faedcd;
    color:#219EBC;
    border: 1px;
}