@media screen and (min-width:768px) {
    .nav{
            display:grid;
            grid-template-areas:" logoMJA menu" ;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: initial ;
        
        } 
    form{
        width: 400px;
        margin: 0 auto;
        background-color: #e9c46a;
        border-radius: 15px;
    }
    .section{
    background-color: #A9D6E5;
    height: 3300px;
    }
    .contacto__parrafo{
        padding-left: 50px;
    }
    header{
        height:152px;
        position: sticky;
        top: 0px;
        p{
            color:#FB8500;
            font-family:'Open Sans', sans-serif ;
            font-size: 16px;
            display: flex;
            justify-content: space-around;
            padding-left: 35px;
        }
    }
}

@media screen and (max-width:320px) {
    .nav{
            display:grid;
            grid-template-areas:" logoMJA menu" ;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: initial ;
        } 
    form{
        width: 300px;
        margin: 0 auto;
        background-color: #e9c46a;
        border-radius: 15px;
    }
    .section{
        background-color: #A9D6E5;
        height: 3500px;
    }
    .contacto__parrafo{
        padding-left: 50px;
    }
    header{
        height:152px;
        position: sticky;
        z-index: 1;
        top: 0;
        
    }
    footer{
        background-color: #013A63;
        margin-bottom:0px;
        padding:7px;
        margin-top:500px;
    }
    .informacion__titulo{
        padding-top: 25px;
    }
    .tablaTalles{
        width: 310px;
        font-size: 20px;
    }
}

@media screen and (max-width: 425px) { 
    .nav{
            display:grid;
            grid-template-areas:" logoMJA menu" ;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: initial ;
        } 
    form{
        width: 300px;
        margin: 0 auto;
        background-color: #e9c46a;
        border-radius: 15px;
    }
    .padreInfo{
        padding-top: 300px;
        height: 1000px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: stretch;
    }
    .sectionInfo{
        height: 1700px;
    }
    .contacto__parrafo{
        padding-left:50px ;
        margin: 50px;
        padding-bottom: 150px;
    }
    .section{
    background-color: #A9D6E5;
    }
    header{ 
        height:152px;
        position: sticky;
        z-index: 1;
        top: 0;
        p{
            color:#FB8500;
            font-family:'Open Sans', sans-serif ;
            font-size: 16px;
            display: flex;
            justify-content: space-around;
            padding-left: 35px;
        }
    }
    footer{
        background-color: #013A63;
        margin-bottom:0px;
        padding:7px;
        margin-top: 86px;
    }
    .h2Info{
        text-align: center;
        font-family:Arial, Helvetica, sans-serif ;
        font-size: 40px;
        margin-bottom: 180px;
    }
    .tablaTalles{
        width: 330px;
        font-size: 20px;
    }
}