@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "header";
@import "footer";
@import "info";
@import "tabladetalles";
@import "formulario";
@import "mediasq";
@import "variables";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}



/*SECCIÓN PRINCIPAL*/

section{
    background-color: whitesmoke;
    padding-top: 60px;
}
h2{
    color: #013A63;
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    padding: 30px;
    text-align: center;
}

/*SECCION PRINCIPAL DE TODAS LAS PAGINAS*/

.colorFondo{
    background-color:whitesmoke ;
    height: 100px;
}

.cards{
    border: 0;
    z-index: 2;
}
.col{
    width: 300px;
    height: 650px;
    margin: 0 auto;
}
.card{
    width: 300px;
    height: 650px;
    background-color: whitesmoke;
    border: none;
}
.imagenes{
    width: $ancho/2 ;
    height: 570px;
    margin-left: 25px;
    border-radius: 15px;
}


.camisetaReal{
height: 400px;
border-radius: 18px;
width: 230px;
}
.camisetaNiupi{
height: 300px;
border-radius: 22px;
width: 200px;
}
.camisetaLaVilla{
    height: 200px;
    border-radius: 24px;
    width: 200px;
}
.camisetaHuracan{
    height: 125px;
    border-radius: 26px;
    width: 200px;
}
h3{
    color: #013A63;
    font-size: 1.25rem;
}
.pagos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.mediosDePago{
    border-style: solid ;
    border-radius: 25px;
    height: 225px;
    padding: 0px;
}
.pagar{
    text-align: center;
    font-size: 25px;
}
.botonComprar{
    
}