@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "header";
@import "footer";
@import "info";
@import "tabladetalles";
@import "formulario";
@import "mediasq";
@import "variables";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/*SECCIÓN PRINCIPAL*/

section{
    background-color: whitesmoke;
    padding-top: 60px;
    max-width: 100%;
}
h2{
    color: #013A63;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 30px;
    text-align: center;
}

/*SECCION PRINCIPAL DE TODAS LAS PAGINAS*/

.cards{
    border: 0;
    z-index: 2;
}

.cardd{
    padding-left: 25px;
    padding-right: 25px;
    background-color: whitesmoke;
    border: none;
}
.imagenes{
    height: 570px;
    // margin-left: 25px;
    border-radius: 15px;
}

body{
    background-color: whitesmoke;
}

h3{
    color: #013A63;
    font-size: 1.25rem;
}
.pagos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.mediosDePago{
    // border-style: solid ;
    border-radius: 25px;
    height: 225px;
    padding: 0px;
}
.pagar{ 
    text-align: center;
    font-size: 25px;
}

.botonComprar{
    background-color:#FB8500 ;
    border: 0;
    &:hover{
    transform: scale(1.2);
    background-color:#FB8500 ;
    border: 0;}
}

.row{
    --bs-gutter-x: 0;
}